h1 {
    color: darkcyan;
    text-align: center;
    font-size: 50px;
}

img {
    width: 500px;
    border-radius: 32px;
    position: absolute;
    margin-top: 15px;
    left: 500px;
}

h2 {
    text-align: center;
}